chemical_system/checkpoints/last.ckpt filter=lfs diff=lfs merge=lfs -text
dft_band_gap/checkpoints/last.ckpt filter=lfs diff=lfs merge=lfs -text
dft_mag_density/checkpoints/last.ckpt filter=lfs diff=lfs merge=lfs -text
ml_bulk_modulus/checkpoints/last.ckpt filter=lfs diff=lfs merge=lfs -text
space_group/checkpoints/last.ckpt filter=lfs diff=lfs merge=lfs -text
chemical_system_energy_above_hull/checkpoints/last.ckpt filter=lfs diff=lfs merge=lfs -text
dft_mag_density_hhi_score/checkpoints/last.ckpt filter=lfs diff=lfs merge=lfs -text
